body{
    overflow-x: hidden;
}
ul,li{
    display: inline-block;
}
.test-container-blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.test-user-blog-profile{
    width: 25%;
}
.d-flex{
    display: flex;
}
.gap-8{
    gap: .5rem;
}
.f-direction-column{
    flex-direction: column;
}
.align-items-start{
    align-items: flex-start;
}
.display-none{
    display: none;
}
.display-flex{
    display: flex;
}
.sidebar-alert{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -100%;
    width: 50%;
    transition:all 1.5s ;
    padding: 1rem;
    border-radius: .5rem;
}
.list-of-blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
}